out.txt
*.log
*.lock
*.orig
*.patch
*.scip
.agnes/
.codegraph
.qoder/
.rtk/
/garnet
/sh
/.cargo/
node_modules
target/

# moon
.moon/cache
.moon/docker
.bench_run/
check[0-9]*.log
check.log
/data/
/wedb/data/
wedb/wedb/data/
regress/data/history.json
.DS_Store
/qoder-notes.md
